form {
    /* border: 1px solid red; */
    height: 80vh;
    width: 40vw;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(91.13deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.129) 111.87%); */
    background-color: var(--color-cinza-400);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-inline: 5rem;
}

form h2 {
    font-weight: 500;
    color: var(--color-amarelo-900);
    margin-bottom: .8rem;
}
.comum {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.comum :where(label) {
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--color-amarelo-900);
    margin-left: 2rem;

}

.comum :where(input) {
    background: rgba(255, 255, 255, 0.46);
    border: 1px solid var(--color-amarelo-400);
    border-radius: 20px;
    width: 100%;
    height: 5.2rem;
    padding-left: 2rem;
    font-size: 1.8rem;
}

.comum input::placeholder {
    font-size: 1.8rem;
    color: var(--color-cinza-400);
}

.comum :where(p) {
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.sumbit-reset {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.sumbit-reset button {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
}

.sumbit-reset button[type=submit] {
    width: 80%;
    background-color: var(--color-amarelo-400);
    margin-left: .8rem;
    padding: 2.5rem;
    color: var(--color-cinza-800);
}

.sumbit-reset button[type=reset] {
    width: 20%;
    background-color: transparent;
    border: 1px solid var(--color-amarelo-400);
    color: var(--color-amarelo-400);
    overflow: hidden;
    /* padding: 2.5rem; */
    padding-block: 2.5rem;
}


