* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: white;
  }
  
  #header {
    background-color: var(--color-cinza-600);
    padding: 50px;
    border-radius: 15px;
  }
  
  .titulo{
    color: var( --color-amarelo-400);
    font-size: 3.1rem;
    font-weight: 500;
  }
  
  #form {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  #sendPassword {
    text-align: center;
    display: none;
    padding: 12px 10px;
    background-color: rgb(78, 244, 169);
    margin: 20px 0;
    transition: 10s ease;
    opacity: 0;
  }
  
  .data-field {
    display: flex;
    flex-direction: column;
  }

  .data-field #labelSenha {
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--color-beje-400);
  }

  .on-off {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .on-off #olho {
    width: 35px;
  }

  #olho {
    position: relative;
    left: -40px;
  }
  
  .data-field #password {
    margin: 0.5rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    width: 100%;
  }
  .data-field #password:hover {
    background-color: var(--color-amarelo-400);
    transition: all 1s;
  }
  
  .data-field #password:focus-visible {
    outline: 1px solid var(--color-amarelo-200);
  }
  
  .data-field #password::placeholder {
    color: var(--color-beje-600);
  }
  
  #form #enviandoSenha {
    width: 200px;
    cursor: pointer;
  }
  
  .bttwo:hover {
    background-color: var(--color-amarelo-500);
    transition: all 1s;
    color: white;
  }
  
  