.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    flex-direction: row;
    justify-content: space-around;
}

.container-filha{
    display: flex;
    width: 600px;
    height: 500px;
    /* background-color: brown; */
}

div .modal-body{
    display: flex;
    align-items: center;
    text-align: justify;
    position: relative;
    flex: none;
    background-color:var(--color-cinza-400);
    width: 200px;
    height: 250px;

}
.modal-body li{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding: 0.5rem 0 0.5rem 0;
}

.image-holder {
    display:flex;
    align-items: center;
    border: 1px solid var( --color-cinza-900);
    transition-duration:200ms;
    transition-timing-function: ease-out;

}

img{
    display: flex;
    align-items: center;
    width: 170.92px;
    max-width: 200px;
    height: 250px;
    /* background-color: rgb(84, 84, 196); */
}
    
.image-holder:hover {
    border: 1px solid var( --color-amarelo-500);
    transform: scale(1.05,1.05);
}

.bttwo{
    background-color: var(--color-amarelo-500);
    color: white;
}

.bttwo:hover{
    
    background-color: var(--color-amarelo-500);
    color: white;
}

h5, li{
    color: var(--color-amarelo-500);
}


