form {
    height: 80vh;
    width: 40vw;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var( --color-cinza-700);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-inline: 5rem;
}

form h2 {
    font-weight: 500;
    color: var(--color-amerelo-400);
    margin-bottom: .8rem;
}
.cad-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

.cad-user :where(label) {
    font-weight: 300;
    font-size: 2.4rem;
    color: var(--color-amerelo-900);
    margin-left: 2rem;
    color: var(--color-amerelo-400);
}

.cad-user :where(input) {
    background: rgba(255, 255, 255, 0.46);
    border: 1px solid var(--color-amerelo-400);
    border-radius: 20px;
    width: 100%;
    height: 5.2rem;
    padding-left: 2rem;
    font-size: 1.8rem;
}

#name {
    margin-bottom: 2rem;
}

.cad-user input::placeholder {
    font-size: 1.8rem;
    color: var(--color-cinza-800);
}

.cad-user :where(p) {
    margin: 1rem 0 1rem 2rem;
}

.cad-user-sumbit-reset {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.cad-user-butons-submit-reset {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

.cad-user-butons-submit-reset button[type=submit] {
    width: 80%;
    background-color: var(--color-amerelo-400);
    margin-left: .8rem;
    color: var(--color-cinza-800);
    cursor: pointer;
}

.cad-user-butons-submit-reset button[type=reset] {
    width: 20%;
    background-color: transparent;
    border: 1px solid var(--color-amerelo-400);
    color: var(--color-amerelo-400);
    overflow: hidden;
    padding-block: 2rem;
    cursor: pointer;
}

.cad-user-sumbit-reset button {
    background-color:var( --color-cinza-700);
    font-size: 1.6rem;
}

.cad-user-sumbit-reset button a {
    width: 100%;
}