@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-cinza-50: #eaf3fc;
    --color-cinza-100: #d0d8e2;
    --color-cinza-200: #b4bdca;
    --color-cinza-300: #97a3b4;
    --color-cinza-400: #7a899e;
    --color-cinza-500: #617085;
    --color-cinza-600: #4b5768;
    --color-cinza-700: #353e4b; /* cinza principal */
    --color-cinza-800: #1f252f;
    --color-cinza-900: #080c16;

    --color-amerelo-50: #fffadc;
    --color-amerelo-100: #fcefb1;
    --color-amerelo-200: #f8e583;
    --color-amerelo-300: #f5db54;
    --color-amerelo-400: #f3d026; /* amerelo principal */
    --color-amerelo-500: #d9b70c;
    --color-amerelo-600: #a98e05;
    --color-amerelo-700: #796601;
    --color-amerelo-800: #483d00;
    --color-amerelo-900: #1a1400;

    --color-bege-50: #fdf5e3;
    --color-bege-100: #f4e2bd;
    --color-bege-200: #ecce94; /* bege principal */
    --color-bege-300: #e5bb69;
    --color-bege-400: #dea740;
    --color-bege-500: #c58e28;
    --color-bege-600: #996e1f;
    --color-bege-700: #6d4f15;
    --color-bege-800: #422f0b;
    --color-bege-900: #181000;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: var(--color-cinza-500);
}