.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    background-color: var(--color-cinza-600);
}
.cabeca{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90px;
    background-color: var( --color-amarelo-400);
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 500;
}
.containerFilha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.carrinho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 80%;
    background-color: blueviolet;
}

.sessao1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.txt1{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: var(--color-amarelo-400);
    width: 40%;
    margin: 0;
    padding: 0 0 0.2rem 1rem;
}
.txt1 p{
    margin: 0;
    font-size: 14px;
}
.txt2 p{
    margin: 0;
    font-size: 14px;
    padding: 0 0 0.1rem 1rem;
    color: var(--color-amarelo-400);
    font-family: 'Open Sans', sans-serif;
}
.txt1, .txt2 h1{
    font-size: 16px;
    color: var(--color-amarelo-400);
}

.txt3   p{
    margin: 0;
    padding: 0 0 0.1rem 1rem;
    color: var(--color-amarelo-400);
    font-family: 'Open Sans', sans-serif;
}

.txt2{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    width: 45%;
    font-family: 'Open Sans', sans-serif;
}
.sessao2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
}
.idLivro{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    width: 90%;
    height:80%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.idLivro p{
    padding: 0 0 1rem 1rem;
    font-size: 16px;
}

.imagem{
    display: flex;
    align-items: center;
    width: 40%;
}

.imagem img{
    width: 90px;
    height: 110px;
}

.divLivro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 47%;
    padding: 0 0 1.3rem 0;
    background-color: red;
}

.btCompra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 15%;
    color: var(--color-amarelo-300);
    background-color: var(--color-cinza-600);
    border: 1px var(--color-amarelo-400) solid;
    border-radius: 10px;
}
.maior, .menor{
    color: var(--color-amarelo-400);
    background-color: transparent;
    border: none;
    width: 40px;
}

.divLivro p{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    width: 50%;
    margin: 0;
    padding: 0;
    justify-content:flex-end;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-amarelo-300);
}

.sessao3{
    display: flex;
    align-items: flex-end;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-amarelo-300);
    width: 100%;
}
.frete{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    padding: 0.5rem 1rem 0 3rem;

}
.frete p{
    padding: 0;
    margin: 0;
}
.sessao3 input{
    display: flex;
    text-align: justify;
    width: 100px;
    height: 30px;
    border: 1px solid yellow;
    border-radius: 10px;
    
}
.sessao3 input{
    background-color: grey;
}
.sessao3 input::placeholder{
    color: yellow;
}

.resumo{
    display: flex;
    padding: 0 1rem 1rem 0;
    width: 30%;
    min-width: 30%;
    height: 80%;
    background-color:green;
}
